.home-div {
    height: 100vh;
    background-color: lightpink;
}
.home-div h1 {
    margin: 0;
}
.img-div-1 {
    background-color: lightpink;
}
.img-div-2 {
    height: 100vh;
    background-color: lightpink;
}
.nissan {
    width: 400px;
    height: 200px;
}
.naruto {
    width: 400px;
    height: 600px;
}
.bmw {
    width: 400px;
    height: 200px;
}
.tanjiro {
    width: 500px;
    height: 600px;
}